.popup {
  width: 430px;
  height: 330px;
  background-color: #fff;
  color: #000;
  position: fixed;
  z-index: 3;
  top: 195px;
  right: 425px;
  left: 425px;
  border-radius: 2%;
  visibility: hidden;
  display: block;
}

.profile__popup-avatar {
  background-color: #fff;
  width: 430px;
  height: 272px;
  position: fixed;
  top: 224px;
  left: 425px;
  z-index: 5;
}

.card__popup-confirmation {
  height: 181px;
}

.popup__show {
  visibility: visible;
}

.popup__title {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 35px;
  margin-top: 35px;
  margin-bottom: 30px;
  padding: 0;
}

.popup__text {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 35px;
  width: 358px;
  height: 27.34px;
  border-bottom: 1px #545454;
  border-top: none;
  border-right: none;
  border-left: none;
}

.popup-div {
  width: 358px;
  height: 27px;
  padding-bottom: 70px;
}

.popup__name {
  margin-top: 5px;
  margin-bottom: 30px;
}

.popup__occupation {
  margin-bottom: 45px;
}

.popup__link {
  margin-bottom: 45px;
}

.popup__submit {
  position: relative;
  top: -20px;
  width: 358px;
  height: 50.15px;
  background-color: #000;
  color: #fff;
  margin-left: 35px;
  border: none;
  border-radius: 2%;
}

.popup__submit-avatar {
  bottom: 36px;
}

.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: #000;
  border: none;
}

.close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: #000;
  border: none;
}

.form__input {
  outline: none;
  appearance: none;
  border-bottom: solid 1px black;
}

.form__input-invalid {
  border-bottom: solid 1px red;
}

.form__submit-disabled {
  background-color: #fff;
  pointer-events: none;
  color: #ccc;
  border: solid 2px #ccc;
}

.form__error {
  position: relative;
  top: -30px;
  left: 30px;
  color: red;
  font-family: inherit;
}

@media screen and (max-width: 550px) {
  .popup {
    width: 282px;
    height: 322px;
    position: fixed;
    top: 123px;
    left: 19px;
  }

  .popup__title {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 25px;
    margin-left: 35px;
  }

  .popup__text {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .popup__submit {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
  }
}
