.page__content {
  background-color: #000;
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}

.page__popup {
  opacity: 0.3;
}

.page-filter {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: #000;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}
